@import "./colors.scss";

html,
body {
  background-color: var(--color-background);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: var(--color-on-background);
  transition: all .2s ease;
}

app-root {
  width: 100vw;
  height: 100vh;

  display: flex;
}
