button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 3.6rem;
  border: none;
  border-radius: 1rem;

  background-color: transparent;
  filter: brightness(1.1);
  cursor: pointer;

  &:hover {
    background-color: var(--color-on-primary);
  }

  &.full-width {
    width: 16rem;
    justify-content: start;
    gap: 1rem;
    padding-left: 1rem;
  }

  &.selected {
    color: var(--color-on-primary-container);
  }
}
